#submit-button {
  padding: 5px;
  border: 1px solid #5c9506;
  background-color: #28182a;
  color: #d7d3c8;
  text-decoration: none;
  text-shadow: unset;
}

#submit-button:hover {
  background-color: #5d3666;
  color: #9dcb2c;
  text-decoration: none;
}
