.navbar {
  background: linear-gradient(
    to left,
    #000000 0%,
    #000724 25%,
    #1b339620 40%,
    #2e58ff10 55%,
    #1b339620 70%,
    #000724 80%,
    #000000 100%
  );
}

@media (max-width: 450px) {
  #avatar-name {
    font-size: 1.15rem;
  }
}
#avatar {
  box-shadow: 0 0 5px #111, 0 0 7px #fff;
}

.nav-link:hover,
.nav-link.active,
.nav-link:active {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff,
    0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff;
  transform: scale(1.2);

  margin-left: auto;
}

.nav-link {
  text-align: right;
  margin-right: 5px;
}
