#skills {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#title-skills {
  mix-blend-mode: difference !important;
  color: white;
  margin-bottom: 1rem;
}

.responsive-img {
  width: 100%;
  max-width: 5rem;
  height: auto;
  padding-bottom: 5px;
  display: block;
  margin: auto;
}

.col {
  text-align: center;
}

@media (max-width: 450px) {
  .p-skills {
    font-size: 0.65rem;
    font-weight: 1000;
  }
}
.p-skills {
  text-align: center;
}
